h1 {
  color: DeepPink;
  font-size: 40px;
}

body {
  background-color: Pink;
  text-align: center;
}

img {
  max-width: 24%;
}

h2 {
  color: DarkViolet;
   font-size: 20px;
}

h3 {
  color: Fuchsia;
  font-size: 20px;
  }

p {
  color: MediumVioletRed;
  font-size: 20px;
  }